<div #canvas id="canvas">
  <div id="creationOptions" class="gui" [hidden]="!creation">
    <div class="row">
      <label>
        Name: <input type="text" [(ngModel)]="newName" placeholder="Name">
      </label>
      <label>
        Mass: <input type="text" [(ngModel)]="newMass" placeholder="Mass">
        in 10^23 kg
      </label>
    </div>
    <div class="row">
      <label>
        Radius: <input type="text" [(ngModel)]="newRadius" placeholder="Radius"> in km
      </label>
      <label>
        Start velocity: {{newVelocity.length().toFixed(2)}}
        in <a
        href="https://en.wikipedia.org/wiki/Astronomical_unit"
        target="_blank">AU</a> per year
      </label>
    </div>
  </div>
  <div id="menu" class="gui">
    <div class='row'>
      See the <a href="article.html">article</a> to get more information...
    </div>
    <div class='row'>
      <label>
        <input type="checkbox" [(ngModel)]="showAxes" [ngModelOptions] = "{standalone: true}" (change)="toggleAxes()">
        Toggle Axes
      </label>
      <label>
        <input type="checkbox" [(ngModel)]="showGrid" [ngModelOptions] = "{standalone: true}" (change)="toggleGrid()">
        Show ecliptic plane
      </label>
    </div>
    <div class='row'>
      <label>
        <input type="checkbox" [(ngModel)]="showTrajectory" [ngModelOptions] = "{standalone: true}" (change)="toggleTrajectories()">
        Toggle trajectories
      </label>
    </div>
    <div class='row'>
      <button (click)="resetCamera()">Reset Camera</button>
      <button (click)="createBody()">Create CelestialBody</button>
      <button (click)="togglePause()">Pause Simulation</button>
    </div>
    <div class='row'>
      <label>{{frameRate}} Frames per Second</label>
    </div>
    <div class='row'>
      <label>Simulation Speed</label>
      <select [(ngModel)]="simSpeed" [ngModelOptions] = "{standalone: true}">
        <option *ngFor="let option of availableSpeeds" [ngValue]="option">{{ option.name }}</option>
      </select>
    </div>
    <div class='row'>
      <label>Integrator</label>
      <select [(ngModel)]="integrator" [ngModelOptions] = "{standalone: true}">
        <option *ngFor="let option of availableIntegrators" [ngValue]="option">{{ option.name }}</option>
      </select>
    </div>
  </div>
  <div id="bodies-list" class="gui">
    <button (click)="toggleBodiesList()">Toggle List</button>
    <div [hidden]="!bodiesListShown">
      <div id="table-wrapper">
        <div id="table-scroll">
          <table>
            <thead>
            <tr>
              <th><span class="text">Name</span></th>
              <th><span class="text">Mass</span></th>
              <th><span class="text">Radius</span></th>
              <th><span class="text">Position (x,y,z)</span></th>
              <th><span class="text">Velocity magnitude</span></th>
              <th style="width: 150px"></th>
            </tr>
            <tr>
              <td></td>
              <td><i>in Jupiter's mass</i></td>
              <td><i>in <a
                href="https://en.wikipedia.org/wiki/Astronomical_unit"
                target="_blank">AU</a></i></td>
              <td><i>in AU per year</i></td>
              <td></td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let body of bodies" (click)="track(body)">
              <td>{{body.name}}</td>
              <td>{{body.mass.toFixed(8)}}</td>
              <td>{{body.radius.toFixed(5)}}</td>
              <td>{{body.velocity.length().toFixed(5)}}</td>
              <td>
                <button (click)="remove(body)">Remove</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



